jupyterlab
matplotlib
numpy
pandas
seaborn
scikit-learn
statsmodels
pytest
testbook
mlflow
parsenvy
black
nltk
sklearn
gensim
pyldavis
wordcloud
textblob
spacy
textstat
texthero
kaggle # to download the dataset
wordcloud
wheel
contextualSpellCheck
xgboost

