jupyterlab==3.2.6
matplotlib==3.5.1
numpy==1.22.0
pandas==1.3.5
seaborn==0.11.2
scikit-learn==1.0.2
statsmodels==0.13.1
pytest==6.2.5
testbook==0.4.2
mlflow==1.20.2
parsenvy==3.0.2
black==21.9b0
nltk==3.7
transformers==4.16.2
rasterio==1.2.10
gensim==4.1.2
Keras==2.8.0
pydot==1.4.2
wordcloud==1.8.2.2
textatistic==0.0.1
spacy
tensorflow-macos==2.8.0
tensorflow-metal==0.4.0
tensorflow-hub==0.12.0
protobuf==3.20.1